@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito|Work+Sans');
html{
	width: 100%;
}
body{

	font-family: 'Nunito';
	font-size: 15px;
	overflow-x: hidden;
	width: 100%;


}
ul{
	list-style: none;
}
#Ingredients{
	display: flex;
	flex-wrap: wrap;
}
.ing-tarif{
	margin-left: 15px;
}
.unIngRec a{
	color: black;
}
#info-perso {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

#commandeReussi{
	margin-top: 5rem;
}
#commandeReussi h3{
	margin-bottom: 20px;
}
#resumCommande{
	margin-top: 6rem;
}
.comm-nom::first-letter{
	text-transform:uppercase; 
}
.comm-nom + div::first-letter{
	text-transform:uppercase; 
}
#profil{
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
}
.fa-check{
	color: black;
}
#messAjout{
	margin-top: 6rem;
}
#messAjout h3{
	margin-bottom: 1rem;
}
.messInscript{
	margin-top: 6rem;
	
}
#pasEncoreInscrit{
	margin-top: 5rem;
}
.btn-paniervide{
	margin-top: 2rem;
}
#panierVide{
	margin-top: 10rem;
}
.push{
	height: 200px;
}
.btn-mess-comm{
	margin-top: 1rem;
}
.user-connect{
	position: absolute;
	left: 65%;
	top: 30%;
	color: #d6b880;
}
.carousel{
	bottom: 25px;
}

#messErreur-inscript{
	margin-top: 5rem;
}
.nav-toggle:active{
	color: black !important;
	background-color: #d6b880 !important;
	border-color: #d6b880 !important;
	box-shadow: none !important;
}
.nav-compte {
	position: absolute;
	left: 81%;
}
.nav-compte .dropdown-item{
	
	color:  #d6b880;
}
.nav-compte .dropdown-menu{
	background-color:rgba(0, 0, 0, 0.90); 
	border-radius: 0.2rem;

}
.nav-compte .dropdown-item:active{
	background-color:rgba(0, 0, 0, 0.90);


}
.dropdown-item:hover{
	color: 
}
.show > .btn-secondary.dropdown-toggle{
	color: black !important;
	background-color: #d6b880 !important;
	border-color: #d6b880 !important;
	box-shadow: none !important;
}
.btn-secondary.dropdown-toggle {

	color: black;
	background-color: #d6b880;
	border-color: #d6b880;


}
.dropdown-item:focus, .dropdown-item:hover {

	color: color: #d6b880 !important;
	text-decoration: none;
	background-color: black;

}
.nav-compte .btn-secondary:focus{

	color: black;
	background-color: #d6b880 !important;
	border-color: #d6b880 !important;
	box-shadow: none !important;
}
.nav-compte .btn-secondary{
	box-shadow : none;
	background-color: black;
	border: 1px solid black;
	color: #d6b880;
}
.btn-outline-warning {

	color: #d6b880;
	border-color: #d6b880;

}
.bg-dark {
	background-color: rgba(0, 0, 0, 0.80) !important;
}
.btn-outline-warning:hover{
	background-color: #d6b880;
}

.navbar-dark .navbar-nav .active > .nav-link{
	color:rgba(255,255,255,.5);
}
.navbar-dark .navbar-nav .active > .nav-link:hover{
	color:#d6b880;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color:#d6b880;

}
.logo-nav{
	background-image: url("../images/screen.svg");
	background-size: contain;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
}
.sign-out{
	background-image: url("../images/sign-out.png");
	background-size: contain;
	width: 35px;
	height: 50px;
	background-repeat: no-repeat;
	position: absolute;
	left: 95%;
}
#menu{
	display: flex;
	width: 100%;
	height: 72px;
	flex-direction: row;
	background-color: #C9C7C7;
	
	

}
#menu > div{
	
	margin-left: 9%;
	padding-top:22px;
	text-align: center;
	font-size: 20px;
}
#menu > div a{
	text-decoration: none;
	color: black;
}
#menu > div a:hover{
	color: white;

	

}

#bandeau {
	background-image: url("../images/cuisine.jpg");
	
	width: 100%;
	height: 684px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 50%;
}


@-webkit-keyframes text-move {
	0% {
		-webkit-transform: scale(1) translate(0, 0);
		transform: scale(1) translate(0, 0);
		-webkit-transform-origin: 16% 50%;
		transform-origin: 16% 50%;
	}
	100% {
		-webkit-transform: scale(1.25) translate(-20px, 15px);
		transform: scale(1.25) translate(-20px, 15px);
		-webkit-transform-origin: left;
		transform-origin: left;
	}
}
.welcom{
	top: 50px;
	animation-name: text-move;
	animation-duration: 5s;
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 50px;

}
.footer{
	background-color: #212529;
	color:rgba(255,255,255,.5);
}
.footer-contain{
	margin-bottom: 2rem;
	margin-top: 2rem;

}
strong{
	color:#d6b880; 
}
a{
	text-decoration: none;
	color: rgba(255,255,255,.5);
}
a:hover{
	text-decoration: none;
	color:  #d6b880;

}
/*------Formulaire login---------*/
.login-form{
	border: 1px solid lightgray;
	margin-top: 3rem;
	border-radius: 1rem;
}
.form-group{
	padding-top: 1rem;
}
.titre-login{
	text-align: center;
}
.login-form h3{
	padding-top: 1rem;
}
.btn-login{
	margin-bottom: 1rem;
}
#login{
	margin-bottom: 5rem;
	margin-top: 3rem;
}

/*--------Page d'accueil-----------*/
.contain-acc{
	margin: 3rem 0rem 3rem 3rem;
	
}
#accueil h2{
	color: #d6b880;
}

/*---------Categories-------------*/
.link-cat{
	color: black;
	margin-right: 2rem;
	margin-left: 2rem;
}
#ingredients{
	display: flex;
	flex-wrap: wrap;
	margin-top: 6rem;
	margin-bottom: 2rem;
}
#ingredients img{
	width: 100%;
	margin-bottom: 5px;
}
.categ-container{
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-right: 5px;
	display: flex;
}
.carousel-inner img{
	width: 100%;
}
.categ-container div{

	width: 50%;
}
/*---------Ingredients-------------*/
.ing-container{
	display: flex;
	flex-direction: column;
}
.lesProduits{
	
	margin-right: 1rem;
	
	margin-bottom: 2rem;
	-webkit-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	-moz-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
}
.panier{
	margin-bottom: 5px;
}
.nav-panier{
	position: absolute;
	left: 92%;
	width: 70%;
	height: 60%;
	top: 28%;

}
.panier a{
	background-image: url("../images/pluspanier.png");
	width: 25px;
	height: 25px;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;


}
.lePanier{
	margin-top: 5rem;
}

.img-ing img{
	width: 100%;

}
.img-ing{
	width: 100%;
}
.nom-ing{
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 5px;
	color: #d6b880;
}
.btn-panier{
	margin-bottom: 2rem;
}
.btn-panier a {
	color: #d6b880;
}
.btn-outline-secondary {

	color: #d6b880;
	border-color: black;
	margin-left: 40%;
}
.btn-outline-secondary:hover{
	color: black;
	background-color: white;

}
.total{
	margin-top: 1rem;
}

.group-btn .btn-outline-secondary{
	margin-left: 0;
}
.group-btn{
	margin-left: 33%;
}
.contain-tarif{
	display: flex;
	margin-top: 10px;
	position: relative;
	margin-left: 1rem;
}
.le-tarif{
	margin-left: 5px;
}
.prix-suppr{
	margin-left: 20px;
	display: flex;
}
.qute{
	margin-left: 5px;
}
#ok div{
	margin-left: 1rem;
	margin-bottom: 0.5rem;
}
.lesProduits-panier{
	display: flex;
	border: 1px solid lightgray;
	padding-top: 10px; 
	margin-bottom: 1rem;

}
.ing-container-panier{
	display: flex;
	flex-direction: column;
	margin:0;
	

}
.lesProduits-panier img{
	width: 150px;
	height: 150px;
}
.fas{
	margin-left: 5px;
	margin-right: 10px;
}
#une-qute{
	
}

/*-----page login----------*/
.lien-connect{
	color: black;

}
#connect{
	
	margin-top:10px;
	margin-bottom: 10px;
}
.form-inscript{
	margin-top: 5rem;
}
.form-inscript .container{
	border: 0.5px solid lightgray;
	border-radius: 1rem;
}
.form-inscript h3{
	margin-top: 10px;
	color: #D9C8B4;
	font-weight: bolder; 
}
.form-inscript .form-control:focus{
	border-color: #D9C8B4;
	box-shadow: 0 0 0 .2rem rgba(197, 141, 75, 0.06);
}
.form-inscript button{
	margin-bottom: 1rem;
	color: #D9C8B4;
	background-color: #232326;
	border-color: #232326;
}
.form-inscript button:hover{
	background-color: white;
	border-color: #232326;
	color:#D9C8B4;

}

/*-------Profil---------------*/
.profil-container{
	margin-top: 5rem;
	margin-bottom: 3rem;

}
#profil h3{
	color: #D9C8B4;
	font-weight: bolder;
}
#profil h3:hover{
	color: black;
}
#nom-pro{
	text-transform: uppercase;
}
#nom-profil{
	display: flex;
}
#nom-profil span{
	text-transform: capitalize;
	margin-left: 5px;
}
.lesAdresses span{
	text-transform: capitalize;

}
.lien-profil{
	color: #261515;
}
.lien-profil:hover{
	color: #D9C8B4;
}
#profil-entete{
	display: flex;
	position: relative;
}
#profil-entete i{
	position: absolute;
	top: 10px;
	left: 16%;

}
.ajoutAdress{
	margin-top: 5rem;
}
.form-control:focus{
	color: #495057;
	background-color: #fff;
	border-color: #F2E0C9;
	box-shadow: 0 0 0 .2rem rgba(173, 173, 174, 0.23);

}
.lien-adresse{
	color:  #F2CA99;


}
.btn-adresse{
	border-color:#F2CA99;
	margin-bottom: 2rem; 
}
#titre-adr{
	color: #F2CA99;
}
#login .container{
	display: flex;
}
.inscrivez-vous{
	margin-top: 3rem;
	margin-left: 3rem;
}
.inscrivez-vous h4{
	color: #F2CA99;
}

.delete-adrr{
	position: absolute;
	left: 90%;

}
#adress-contain{
	position: relative;
}
#title-adr{
	margin-bottom: 10px;
}
.far{
	color: black;
}
.far:hover{
	color: #F2CA99;
}


/*--------Recettes --------*/

.categ-contain-recette{
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.titre-cat-rec{
	position: relative;
	color: #F2CA99;
	top: 86px;
	background-color: rgba(0, 0, 0, 0.90);
	width: 58%;
	left: 54px;
	text-align: center;
	font-size: 18px;
	border-radius: 3px;

}
.cat-rec-contain{
	position: relative;
	margin-top: 10px;
}
.categ-contain-recette{
	display: flex;
	flex-wrap: wrap;
	margin-top: 5px;
}
.recettes{
	margin-top: 6rem;
	position: relative;
}
.recettes h3{
	position: absolute;
	left: 8%;

}
#lesRec{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 3rem;
}
.contain-rec-parCat {
	overflow: hidden;
	padding-left: 0;

}
.contain-rec-parCat img{
	width: 100%;
	transition-duration:3s;
}
.contain-rec-parCat img:hover{
	transform : scale(1.5);

}
.img-contain{
	overflow: hidden;
}
.title-rec{
	font-weight: bolder;
}
.rec-title-a{
	color: black;

}
.entete-rec{
	margin-top: 5.5rem;
}
.entete-rec h3{
	margin-bottom: 14px;
}



/*------Recettes individuelles -------*/
.rec{
	margin-top: 5rem;
}
#lesRecettesIndiv{
	
	display: flex;
}
#lesIngRec{
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 0;
	border-radius: 5px;
	-webkit-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	-moz-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);


}
.unIngRec{
	margin-left: 42px;
}
#lesIngRec h5{
	text-align: center;
	color: #F2CA99;
}
#rec-contain-info{
	margin-left: 2rem;
	margin-bottom: 3rem;	 
}
#rec-contain-info img{
	width: 100%;
}
.descript-rec{
	margin-top: 17px;
}
.fil-arianne{
	color: #F2CA99;
	font-size: 13px;
	font-style: italic;
	text-transform: capitalize; 
}
.fil-arianne:hover{
	color: black;
}



/*--------Les Commandes -----------*/

#mesCommandes {
	margin-top: 5rem;
}
#mesCommandes h3{
	color: #F2CA99;
}
.comm-img img{
	width: 100%;
}
.la-commande{
	display: flex;
	border-radius: 5px;
	margin-bottom: 1rem;
	-webkit-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	-moz-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
}
#contain-comm{
	padding-left: 0;
}


/*--------Les Cours par Categories---------*/

#lesCoursCategories {
	margin-top: 5rem;
}
#lesCoursCategories h3{
	text-align: center;
	color: #F2CA99;
}
.catCours{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 2rem;	
}

#affichCours{
	margin-top: 4rem;
	margin-bottom: 4rem;
}

#affichCours h3{
	margin-bottom: 1rem;
	font-weight: bolder;
}



/*---------Accordeon Cours--------------*/

.accordeon-cours-titre{
	color: #F2CA99;
	display: flex;
}
.accordeon-cours-titre:before{
	content: "";
	background-image: url("../images/chef.png");
	background-size: contain;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	display: block;
	margin-right: 5px;

}
.panel-accord{
	padding: 5px 5px 0px 5px;
}


.panel-heading-custom{
	border: 1px solid lightgray;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;

}

.panel-collapse{
	border-bottom: 1px solid lightgray;
	background-color: #F2CA9930;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
.panel-body{
	padding: 5px 5px 5px 15px;
}
.panel-group{
	padding-left:0;
}
.btn-cours{
	margin-bottom: 10px;
}




/*----------mesCours------------------*/
#mesCours{
	margin-top: 4rem;
	margin-bottom: 4rem;
}
#mesCours-contain{
	display: flex;
	width: 100%;
	margin-top: 3rem;
	flex-wrap: wrap;
}
#coursPasses{
	width: 100%;
	-webkit-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	-moz-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
}
#CourAvenir{
	width: 100%;
	-webkit-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	-moz-box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
	box-shadow: 2px 12px 24px -6px rgba(232,232,232,0.83);
}
#mesCours h3{
	margin-top: 6rem;
	text-align: center;
}
.lesCoursAvenir{
	margin-bottom: 1rem;
}
#mesCours .panel-heading-custom {

    border: unset;
    border-top-right-radius: unset;
    border-top-left-radius: unset;
    border-bottom: 1px solid black;

}
#lesCommandes{
	margin-top: 6rem;
}

.img-categ img{
	width: 100%;
}
.img-categ{
	width: 50%;
}

.categ-container{
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 5px;
}
.categ-container div{
	font-style: italic;
	text-transform: capitalize;
	font-weight: bold;
}
.uneCommande{
	margin-bottom: 3rem;
	margin-top: 1rem;
	border: 1px solid lightgray;
	padding: 15px 25px 15px 25px;
}

.adresse-livr{
	margin-bottom: 15px;
	text-transform: capitalize;
}
.leTarif-comm{
	color: #F2CA99;
	font-weight: bold;
}
.leTarif-comm:hover{
	color: black;
	
}


@media screen and (max-width: 990px) {

.user-connect {
    position: absolute;
	left: 16%;
	top: 12%;
	color: #d6b880;
	font-size: 15px;
}
.nav-compte {
    position: unset;
   
}
.nav-panier {
    position: absolute;
    left: 70%;
    width: 72%;
    height: 60%;
    top: 11%;
}

.sign-out {
	left: 60%;
	bottom: 73%;
}
}




